:root {
    --color-primary: #008333;
    --color-secondary: #005722;
    --color-accent: #51FF95;
    --color-background-a: #082E20;
    --color-background-b: #004030;
    --color-text: #BBEEBB;
    --color-accent-red: #BB2222;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit; /* use same color as surrounding text */
    text-decoration: none; /* remove underline */
    cursor: pointer; /* keep pointer cursor */
}

a:hover {
    color: var(--color-accent);
    text-shadow: 0 0 20px var(--color-accent);
    transition: all 0.3s ease;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: var(--color-text);
    font-family: "Ysabeau Office", "Roboto Mono", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title, .subtitle {
    text-align: center;
    margin: 0 0 10px 0;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main {
    all: unset;
    background-image: linear-gradient(var(--color-background-b), var(--color-background-a));
    border-radius: 8px;
    padding: 16px;
    min-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.main > * {
    width: 100%;

}

.field-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
}

.field-button > * {
    all: unset;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 32px;
}

.field-button > label {
    display: none;
}

.input {
    flex: 7 1 15%;
    background-color: var(--color-secondary);
    font-size: 1rem;
    text-align: left;
    padding: 0 8px 0 8px;
}

.button {
    flex: 1 1 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.interactive {
    transition: all 0.3s ease;
    cursor: pointer;
}

.interactive:hover, .interactive:focus {
    background-color: black;
    color: var(--color-accent);
    border: var(--color-accent) solid 2px;
    box-shadow: 0 0 16px 4px var(--color-accent);
}


.interactive:active {
    background-color: var(--color-accent);
    color: var(--color-background-a);
    border: var(--color-background-a) solid 2px;
}


.information-section {
    margin-top: 10px;
    display: flex;
    gap: 16px;
    padding: 8px;
    justify-content: space-between; /* pushes first left, last right */
    align-items: center; /* vertical alignment if needed */
}

.information-section > * {
    flex: 1 1 25%;
    margin: 0;
}

.information-section > *:first-child {
    text-align: left;
}

.information-section > *:last-child {
    text-align: right;
}

.feedback-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.indicator{
    border-radius: 16px;
    margin: 0;
    padding: 0;
    height: 16px;
    width: 16px;
    background-color: var(--color-accent-red);
    box-shadow: 0 0 16px 4px var(--color-accent-red);
}

.logo_holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vt_logo {
    width: 64px;
    height: auto;
}

