:root {
    --color-primary: #008333;
    --color-secondary: #005722;
    --color-accent: #51FF95;
    --color-background-a: #082E20;
    --color-background-b: #004030;
    --color-text: #BBEEBB;
    --color-accent-red: #FF0000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: var(--color-text);
    font-family: "Roboto Mono", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title, .subtitle {
    text-align: center;
    margin: 0 0 10px 0;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.main {
    background-image: linear-gradient(var(--color-background-b), var(--color-background-a));
    border-radius: 8px;
    padding: 16px;
    min-width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.main > * {
    width: 100%;

}

.field-button {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
}

.field-button > * {
    all: unset;
    box-sizing: border-box;
    border-radius: 8px;
    min-height: 32px;
}

.field-button > label {
    display: none;
}

.input {
    flex: 7 1 15%;
    background-color: var(--color-secondary);
    font-size: 1rem;
    text-align: left;
    padding: 0 8px 0 8px;
}

.button {
    flex: 1 1 15%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.interactive {
    transition: all 0.3s ease; /* Smooth transition for the glow effect */
    cursor: pointer;
}

.interactive:hover, .interactive:focus {
    background-color: black;
    color: var(--color-accent);
    border: var(--color-accent) solid 2px;
    box-shadow: 0 0 16px 4px var(--color-accent);
}


.interactive:active {
    background-color: var(--color-accent);
    color: var(--color-background-a);
    border: var(--color-background-a) solid 2px;
}

.information-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
}

.information-section > * {
    flex: 1 1 25%;
    margin: 0;
}

.version-sticker {
    text-align: right;
}

